#!/bin/bash

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetify.com/docs/devbox/ide_configuration/direnv/
# for more details

# Fix for Nix setting DEVELOPER_DIR to non-existent path
# This prevents "missing DEVELOPER_DIR path" errors with docker and other tools
unset DEVELOPER_DIR
