---
# Runtime config to enable SSH on Docker-based VMs
# This ensures systemd starts SSH service on all VMs since it doesn't auto-start in containers

releases:
- name: os-conf
  version: 23.0.0

addons:
- name: enable-ssh
  include:
    stemcell:
    - os: ubuntu-noble
  jobs:
  - name: pre-start-script
    release: os-conf
    properties:
      script: |-
        #!/bin/bash
        set -e
        # Start SSH service for bosh ssh to work in Docker containers
        systemctl start ssh || true
